body{
    margin: 0;
    padding: 0;
}
#container
{
    display: flex;
    flex-flow: column;
    height: 100%;   
    align-items: center;
    justify-content: space-between;
}
.nd{
    margin-top: -10px;
    margin-bottom: 45px;
}
.foot{
    padding: 8px;
    border-radius: 5px;
    margin-top: 50px;
    background-color:lightgrey;
    color: gray;
    text-align: center;

}
.user input{
    display:flexbox;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
input[type = text]{
    height: 100px;
    width: 60px;
    margin-left: 10px;
    text-align: center;
    border: solid 2px;
    border-radius: 5px;
    border-color: lightgray;
    font-size: 50px;
}


